@model IEnumerable<MixologyInventory.Model.Drink.DrinkListItem>

@{
    ViewBag.Title = "Index";
}
<div class="body-content" style="background-color:white;">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RecipeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })
                </td>
            </tr>
        }

    </table>
</div>